@media screen and (min-width: 992px) {

    .container-sections {
        flex-direction: row;
    }

    .nav-link {
        font-size: 5vw;

    }

    #first-section {
        align-self: center;
        max-width: 20%;
    }

    .skills
    {
        display: flex;
        justify-content: space-between;
    }

    h3, h2
    {
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }

    nav p
{
    display: flex;    
}
}