.clear { clear: both; height: 200px; }

body {
    background-color: #2e2e2e;
    color: #ece7e1d7;
}

.container-link, .container-link a
 {
    text-align: center;
    display: flex;
    align-items: center;
}
.container-link a
{
    margin-right: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(43, 43, 43, 0.95);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 5%;
}

footer a img{
    width: 30px;
}

section
{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;

}

nav
{
    padding-left: 5%;
    display: flex;

}


.section-link {
    padding: 0px;
    margin: 0px;
    font-family: 'Merienda';
    display: flex;
    flex-direction: column;
    font-size: 12vw;
    text-transform: uppercase;
}




.container-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* TEXT*/
a {
    color: inherit;
    text-decoration: none;
}

footer i, nav p {
    margin: 20px;
}

p,
h1,li {
    font-family: 'Montserrat';
    letter-spacing: 2px;
}

h1
{
    color: #D25710;
}

section h1 {
    text-transform: uppercase;
}

h2,h3
{
    font-family: 'Merienda';
}
h3, h2
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.date
{
    font-size: 0.75em;
}
nav p
{
    display: none;
}
.container-link .footer-link
{
    visibility: visible;
    font-size: 0.5em;
}

.active
{
    color:#D25710;
}

